<header class="h1">Mobile Apps</header>
<section>
        <article class="jumbotron " style="display:block;padding:10px;">
                <strong>Alexa Crypto Market check Skill</strong> (AWS/NodeJS) on <a target="_blank" href="https://www.amazon.co.uk/dp/B0738TQFQH/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1499205174&sr=1-1&keywords=crypto+markets">Amazon</a>!
                </article>
        <article class="jumbotron" style="display:block;padding:10px;">
                <strong>Political Animal : Brexit Edition (2019)</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.pa2019">Android</a> (React/Capacitor/.net core)!<br/>
                <strong>Political Animal : Manifestos Edition (2019) - only 50p</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.politicalanimalmanifestos">Android</a> (React/Capacitor/.net core)!
        </article>
        <article class="jumbotron" style="display:block;padding:10px;">
                <strong>Drone Wars (2019)</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.dronewars">Android</a> (Phaser3/Capacitor/.net core)!<br />
        </article>
        <article class="jumbotron " style="display:block;padding:10px;">
            <ul>
                <li><strong>Soil Calculator (2018)</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.mechasoil">Android</a> (React Native/.net webapi/sql2016)!</li>
                <li><strong>BMI Calculator (2018)</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.bmicalc">Android</a> (React Native/.net webapi/sql2016)!</li>
                <li><strong>Turf Calculator (2018)</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.mechaturf">Android</a> (React Native/.net webapi/sql2016)!</li>
                <li><strong>Simple Timer (2018)</strong> app on <a target="_blank" href="https://play.google.com/store/apps/details?id=com.appmecha.mechatimer">Android</a> (React Native/.net webapi/sql2016)!</li>
            </ul>
        </article>
<article class="jumbotron " style="display:block;padding:10px;">
<strong>Political Animal (2015)</strong> app on <a target="_blank" href="http://www.windowsphone.com/s?appid=18d3071b-f048-46bd-aafb-939024c9787b">Windows Phone(UWP)</a>, <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.politicalanimal">Android(java)</a> and also <a target="_blank" href="http://www.amazon.co.uk/Studio-Mecha-Political-Animal/dp/B00WRR05KE/ref=sr_1_1?ie=UTF8&qid=1430255844">Amazon(java)</a>!<br />
    Also on <a href="https://itunes.apple.com/us/app/political-animal/id991865716?ls=1&mt=8">iTunes</a>(Swift)!
</article>

</section>