<header class="mobile-ad">Mobile Apps</header>
<section>
<article class="jumbrotron mobile-ad" style="display:block;margin-top:50px;padding:10px;padding-bottom:35px;">
<strong>Political Animal (2015)</strong> app on <a target="_blank" href="http://www.windowsphone.com/s?appid=18d3071b-f048-46bd-aafb-939024c9787b">Windows Phone(UWP)</a>, <a target="_blank" href="https://play.google.com/store/apps/details?id=net.appmecha.politicalanimal">Android(java)</a> and also <a target="_blank" href="http://www.amazon.co.uk/Studio-Mecha-Political-Animal/dp/B00WRR05KE/ref=sr_1_1?ie=UTF8&qid=1430255844">Amazon(java)</a>!<br />
    Also on <a href="https://itunes.apple.com/us/app/political-animal/id991865716?ls=1&mt=8">iTunes</a>(Swift)!
</article>
<article class="jumbrotron mobile-ad" style="display:block;margin-top:50px;padding:10px;padding-bottom:35px;">
<strong>Alexa Crypto Market check Skill</strong> (AWS/NodeJS) on <a target="_blank" href="https://www.amazon.co.uk/dp/B0738TQFQH/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1499205174&sr=1-1&keywords=crypto+markets">Amazon</a>!<br /></article>
</section>