<nav class="pd-container row">
    <div class="h-left col-sm-2">
    
    </div>
    <div class="h-middle col-sm-6">
        <ul class="h-menu">
            <li>
                <div class="hm-menuitem hm-blog">
                    <h1 ng-click="GoBlog()" title="My Blog, items I am working on, products I have built">BLOG</h1>
                    <h2>Comments on technology and links to interesting items found online</h2>
                </div>
            </li>
            <li>
                <div class="hm-menuitem hm-resume">
                    <h1 ng-click="GoResume()" title="Details of contracts and work completed. Download docx here.">RESUME</h1>
                    <h2>View my resume or download it in <a href="/files/resume.docx" target="_blank" title="Download DOCX resume for neil highley">docx</a> or <a title="Download PDF resume for neil highley" href="/files/resume.pdf" target="_blank">pdf</a> formats</h2>
                </div>
            </li>
           <li>
                <div class="hm-menuitem hm-portfolio">
                    <h1 ng-click="GoPortfolioLightbox()" title="Simple lightbox portfolio">lbPORTFOLIO</h1>
                    <h2>View a portfolio presentation of projects which I have been involved with</h2>
                </div>
            </li>
            <li style="display:none">
                <div class="hm-menuitem hm-portfolio">
                    <h1 ng-click="GoPortfolio()" title="Examples of work over the years in a diary format">dPORTFOLIO</h1>
                    <h2>WIP: Experiment tilising a chronological menu for a portfolio diary using TweenMax and Angular</h2>
                </div>
            </li>
            <li>
                <div class="hm-menuitem hm-gameportfolio">
                    <h1 ng-click="GoGamePortfolio()" title="Examples of games work over the years in a diary format">gPORTFOLIO</h1>
                    <h2>Some work done using flash, back in the day</h2>
                </div>
            </li>
            <li>
                <div class="hm-menuitem hm-vrportfolio">
                    <h1 ng-click="GoVirtualReality()" title="Some Virtual Reality Tests and things I've been working on'">vrPORTFOLIO</h1>
                    <h2>And here we are, VR</h2>
                </div>
            </li>
              <li>
                <div class="hm-menuitem hm-hack">
                    <h1 ng-click="GoHack()" title="Details of hackathons attended">HACKATHONS</h1>
                    <h2>I attend many hackathons as a hobby, you can see some of my projects here and on devpost</h2>
                </div>
            </li>
            <li>
                <div class="hm-menuitem hm-hack">
                    <h1 ng-click="GoApps()" title="Details of mobile apps developed and on teh stores">MOBILE APPS</h1>
                    <h2>Details of some of the mobile apps that I created currently on the respective app stores</h2>
                </div>
            </li>
            
        </ul>
        
    </div>
    <div class="h-right col-sm-4">
    
    </div>
</nav>
