<section class="games-portfolio">
    
    <header><h1>Games Portfolio</h1></header>
        <p>
            Here are a few swf files I found while digging through old hard drives.<br />
            I haven't done any flash work for over 5 years, as HTML5 came along. I experimented with HTML5, but concentrated more on cloud work.
            During 2015 I was part of the hackathon scene in london, mostly writing HTML mobile apps. <br />
            Miraculously, I won an Oculus Rift and created a few games for VR using Unity3d.<br />
            One of which can be found on Youtube at <a href="https://www.youtube.com/watch?v=EhNLBQx0w8k" target="_blank">NanoDocs</a>. Many others can be found in my <a href="http://github.com/neilhighley" target="_blank">GitHub</a>.
        </p>
        <ul>
            <li ng-repeat="gamePortfolioItem in GamePortfolioItems">
                <game-portfolio-item item="gamePortfolioItem" />
            </li>
        </ul>

</section>