
<div class="r-container">
    <div class="r-header row ">
            <img src="/images/MCTS_70_515.png" class="pull-left">
            <div class="r-header-content">
                <h1>Neil Highley</h1>
                <h2>.Net professional (C# certified), ASP.Net, Database, Internet developer, Service Engineer</h2><br/>
                <span><strong>Twitter:</strong> <a href="http://www.twitter.com/neilhighley" target="_blank">neilhighley</a></span><br/>
                <span><strong>LinkedIn:</strong> <a href="https:/uk.linkedin.com/in/neilhighley" target="_blank">neilhighley</a></span><br/>
                <span><strong>Skype:</strong> neilhighley</span><br/>
            </div>
    </div>
    <div class="r-title row">
        <h1>Resume</h1>
        Download:<a href="/files/resume.docx" target="_blank" title="Download DOCX resume for neil highley">docx</a> : <a title="Download PDF resume for neil highley" href="/files/resume.pdf" target="_blank">pdf</a></div>
        </div>
    <div class="row r-content">
        <ul >
            <li ng-repeat="resumeItem in ResumeItems" class="col-sml-4 col-md-6">
                <resume-item data="resumeItem"/>
            </li>
        </ul>
    </div>
</div>