<div class="pd-container row">
    <div class="h-left col-sm-2">
    
    </div>
    <div class="h-middle col-sm-6">
        <ul class="h-menu">
            <li>
                <div class="hm-menuitem hm-blog">
                    <h1 ng-click="GoBlog()" title="My Blog, items I am working on, products I have built">BLOG</h1>
                    <h2>Comments on technology and links to interesting items found online</h2>
                </div>
            </li>
            <li>
                <div class="hm-menuitem hm-resume">
                    <h1 ng-click="GoResume()" title="Details of contracts and work completed. Download docx here.">RESUME</h1>
                    <h2>View my resume or download it in <a href="/files/resume.docx" target="_blank" title="Download DOCX resume for neil highley">docx</a> or <a title="Download PDF resume for neil highley" href="/files/resume.pdf" target="_blank">pdf</a> formats</h2>
                </div>
            </li>
           <li>
                <div class="hm-menuitem hm-portfolio">
                    <h1 ng-click="GoPortfolioLightbox()" title="Simple lightbox portfolio">lbPORTFOLIO</h1>
                    <h2>View a portfolio presentation of projects which I have been involved with</h2>
                </div>
            </li>
            <li style="display:none">
                <div class="hm-menuitem hm-portfolio">
                    <h1 ng-click="GoPortfolio()" title="Examples of work over the years in a diary format">dPORTFOLIO</h1>
                    <h2>WIP: Experiment tilising a chronological menu for a portfolio diary using TweenMax and Angular</h2>
                </div>
            </li>
            
        </ul>
    </div>
    <div class="h-right col-sm-4">
    
    </div>
</div>
