        <ul class="pd-years" ng-init="years=[2015,2014,2013,2012,2011,2010,2009]">
        <li ng-repeat="year in years">
            <div class="pd-year-header text-center" 
            ng-click="yearclick(year)"
            ng-mouseover="yearover(year)"
            ng-mouseout="yearout(year)">{{year}}</div>
            <ul class="pd-months" ng-init="months=['DEC','NOV','OCT','SEP','AUG','JULY','JUNE','MAY','APRIL','MARCH','FEB','JAN']">
            <li ng-repeat="month in months | monthFilter:year" 
            class="pd-month text-center" 
            data-year="{{year}}" 
            data-month="{{month}}" 
            ng-click="monthclick(year,month)"
            ng-mouseover="monthover(year,month)"
            ng-mouseout="monthout(year,month)">{{month}}</li>
            </ul>
        </li>
        </ul>