<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".swf" />
      <mimeMap fileExtension=".swf" mimeType="application/x-Shockwave-Flash" />
      <remove fileExtension=".sid" />
      <mimeMap fileExtension=".sid" mimeType="application/x-phaser-sid" />
    </staticContent>
        <!--<rewrite>
            <rules>
                <rule name="Https redirect" stopProcessing="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>-->      
  </system.webServer>
</configuration>